---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import BlogCard from "../../components/BlogCard.astro";
import Pagination from "../../components/Pagination.astro";
import Footer from "../../components/Footer.astro";
import { getCollection } from "astro:content";

const POSTS_PER_PAGE = 6;
const currentPage = 1;

const allPosts = (
  await getCollection("blog", ({ data }) => data.published === true)
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const totalPages = Math.ceil(allPosts.length / POSTS_PER_PAGE);
const posts = allPosts.slice(0, POSTS_PER_PAGE);
---

<Layout title="TinkerDrop">
  <Header />
  <main>
    <section>
      <div
        class="grid grid-cols-1 gap-12 md:gap-16 lg:gap-20 md:grid-cols-2 md:my-16 my-8"
      >
        {posts.map((post) => <BlogCard post={post} />)}
      </div>
    </section>

    {
      totalPages > 1 && (
        <Pagination
          currentPage={currentPage}
          totalPages={totalPages}
          baseUrl="/blog/page/"
          firstPageUrl="/blog/"
        />
      )
    }
  </main>
  <Footer />
</Layout>
