@import "tailwindcss";

@theme {
  /* Colors */
  --color-background: #ffffff;
  --color-foreground: #09090b;
  --color-primary: #09090b;
  --color-primary-hover: #111827;
  --color-muted-foreground: #6b7280;
  --color-accent: #f4f4f5;
  --color-accent-foreground: #18181b;
  
  /* Font Family */
  --font-sans: "Inter", sans-serif;
  
  /* Max Width */
  --max-width-container: 1152px;
}
