---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import BlogCard from "../components/BlogCard.astro";
import Pagination from "../components/Pagination.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const POSTS_PER_PAGE = 6;

  const allPosts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  );

  const totalPages = Math.ceil(allPosts.length / POSTS_PER_PAGE);
  const paths = [];

  // Generate paths for page 2, 3, etc.
  for (let i = 2; i <= totalPages; i++) {
    const start = (i - 1) * POSTS_PER_PAGE;
    const end = start + POSTS_PER_PAGE;
    paths.push({
      params: { page: i.toString() },
      props: {
        posts: allPosts.slice(start, end),
        currentPage: i,
        totalPages,
      },
    });
  }

  return paths;
}) satisfies GetStaticPaths;

const { posts, currentPage, totalPages } = Astro.props;
---

<Layout title="Travel with Samantha">
  <Header />
  <main>
    <section>
      <div
        class="grid grid-cols-1 gap-12 md:gap-16 lg:gap-20 md:grid-cols-2 md:my-16 my-8"
      >
        {posts.map((post) => <BlogCard post={post} />)}
      </div>
    </section>

    <Pagination currentPage={currentPage} totalPages={totalPages} />
  </main>
  <Footer />
</Layout>
