---
import BlogCard from "./BlogCard.astro";

const { posts } = Astro.props;
---

<div
  class="grid grid-cols-1 gap-12 md:gap-16 lg:gap-20 md:grid-cols-2 md:my-16 my-8"
>
  {posts.map((post) => <BlogCard post={post} />)}
</div>
