---
const navLinks = [
  { href: "/blog", label: "Blog" },
  { href: "/about", label: "About" },
];
import Search from "./Search.astro";
---

<section class="flex items-center justify-between mt-8 md:mt-16 mb-12">
  <a href="/">
    <div class="text-4xl md:text-6xl font-bold tracking-tighter leading-tight">
      TinkerDrop.
    </div>
  </a>
  <nav>
    <div class="hidden md:flex items-center">
      {
        navLinks.map((link) => (
          <div class="ml-4 md:ml-8">
            <a href={link.href} class="hover:text-gray-900 font-semibold">
              {link.label}
            </a>
          </div>
        ))
      }
      <button
        aria-label="Search"
        class="ml-4 md:ml-8 text-gray-600 hover:text-gray-900"
        onclick="window.dispatchEvent(new CustomEvent('open-search'))"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-search"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" x2="16.65" y1="21" y2="16.65"></line>
        </svg>
      </button>
    </div>
    <div class="flex items-center md:hidden">
      <button
        aria-label="Search"
        class="mr-4 text-gray-600 hover:text-gray-900"
        onclick="window.dispatchEvent(new CustomEvent('open-search'))"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-search"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" x2="16.65" y1="21" y2="16.65"></line>
        </svg>
      </button>
      <button
        type="button"
        aria-haspopup="dialog"
        aria-expanded="false"
        aria-controls="radix-:r0:"
        data-state="closed"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-menu"
        >
          <line x1="4" x2="20" y1="12" y2="12"></line>
          <line x1="4" x2="20" y1="6" y2="6"></line>
          <line x1="4" x2="20" y1="18" y2="18"></line>
        </svg>
      </button>
    </div>
  </nav>
  <Search />
</section>
